
.ist_container {
    width: 100%;
    background-color: #131921 ;
    height: 300px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    box-shadow: 0px 4px 8px 8px rgb(0 0 0 / 70%);

}
.details{
    width: 200px;
    height: 200px;
    flex-wrap: wrap;
    display: grid;
    
}
.second_container{
    background-color: black;
    width: 100%;
}
a{
    color: white;
}
.writter{
    background-color: #131921;
    color: white;
    font-size: 13px;
    font-weight: 100;
    font-family: sans-serif;
    width: 100%;
}