@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;1,700;1,900&display=swap');

.toggle{
    background-color: #131921;
    color: white;
    width: 25px;
    height: 25px;
    border: none;
}
.bad{
    background-color: #131921;
    color: white;
    width: 25px;
    height: 25px;
    border: none;
   
}
.old_container{
    display: none;
    width: auto;
    height: auto;
    z-index: 200;
}
.buttons{
    display: grid;
    place-items: start;
    height: 300px;
    gap: 0;
    margin-top: 40px;
}
.cancel{
    display: flex;
    justify-content: end;
}

.side-btn  {
    color: rgb(245, 199, 199);
    font-family: "Lato" sans-serif;
    width: 180px;
    height: 20px;
    text-align: start;
    border: none;
    font-size: large;
    font-weight: 500;
    cursor: pointer;
    background-color: transparent;
}
.non-active{
    display: none;

}
.active{
    display: block;

}
.sidebar{
    position: absolute;
    background-color: #131921;
    width: 250px;
    min-height: 100vh;
    z-index: 1;
    top: 0;
    box-shadow: 190px 4px 8px rgb(0 0 0 / 30%);
    animation: grow 0.5s linear;
    overflow-y: auto;
}
@keyframes grow {
    from{
        transform: translatey(-70px);
        
}
to{
    transform: translateX(0px);
   
}
}

@media (max-width:450px) {
    .old_container{
        display: block;
    }
}
